/* Reset browser impostazioni di default */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*    UTILITY   */

.flex {
    display: flex;
}

.f-space-between {
    justify-content: space-between
}

.container-50 {
    margin: 0 auto;
    width: 50%;
}

.container-60 {
    margin: 0 auto;
    width: 60%;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.align-center {
    align-items: center;
}

.rel {
    position: relative;
}

button {
    background-color: #0061ff;
    padding: 10px 20px;
    border: none;
    color: white;
}


/* HEADER  */

li {
    list-style: none;
    display: inline;
}

nav {
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    font-weight: bold;
    z-index: 1;
}

nav li {
    align-items: center;
    margin-left: 10px;
    color: grey;
}

.divnav {
    align-items: center;
}

header {
    background-color: #b4d0e7;
}

.titolo {
    margin-top: 70px;
}

.titoloh1 {
    padding-top: 9%;
    font-size: xx-large;
}

.jumbo img {
    width: 100%;
}


.jumbo {
    position: relative;
}

.didtitolo {
    padding-top: 20px;
    position: relative;
    top: 40px;
}

.didtitolo button {
    margin: 30px 0;
}

#idicona {
    position: absolute;
    bottom: 11%;
    font-size: xxx-large;
}

/* MAIN      */

.titmain {
    padding: 8% 0px;
}

.titmain input {
    margin: 4% 0% 0% 0%;
}

.tab2 {
    width: calc(100%/3);
    border: 1px solid lightgray;
    padding-bottom: 10%;
}

#margtab2 {
    margin: 0 10px;
}

.kindofppl {
    justify-content: center;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0px;
}

.offerte button {
    margin: 10px 20px;
}

.icons {
    font-size: larger;
    color: #0061ff;
}

.pad1 {
    padding: 15px 20px;
}

.offerte h2 {
    margin: 20px 0px;
}

section li {
    display: block;
    line-height: 30px;
    margin-bottom: 20px;
    text-indent: -10px;
    padding-left: 1.2em;
}

/* SECTION 2  */

.sec2 {
    border: 1px solid lightgray;
    margin-top: 5%;
}

.pad2 {
    padding: 20px 20px;
}

h2 {
    margin: 20px 0;
}

#section2 button,
p {
    margin: 20px 0;

}

#scritte {
    width: 70%;

}

#scritte h4 {
    margin-bottom: 60px;
}

/* SECTION 3  */

.sec3 {
    border: 1px solid lightgray;
    margin-bottom: 15%;
}

#section3 {
    margin: 10% 0px;
}


#section3 img {
    width: calc(100% /2);
}

#section3 div {
    margin-left: 40px;
    align-items: center;
    margin-top: 7%;
}

     /* SECTION 4  */

 .tab6 img {
    width: 90%;
    justify-content: center;
 }  

 .tab6 div{
    margin: 25px 5px 0px 5px;

 }

    /* SECTION 5  */

    #section5 h2 {

        font-weight: bold;
    }

    #section5 , #linksec5 {
        margin: 20px 0;
    }


       /* FOOTER / 

       SECTION 6  */

    footer {
        margin-top: 10%;
    }

    .section6 > div {
        width: calc(100%/3);
        flex-wrap: wrap;
    }

    .containerloghi > div {
        width: 50%;
    }

    .design {
        background-color: #f5f5f5;
        padding: 2.5%;
    }

    .solidb {
        border: 10px solid #d1e9cd;
    }

    .containerloghi {
        height: calc(100vw/3);
    }

    .partner img {
        width: 50%;
        justify-content: center;
    }

    .partner {
        align-items: center;
        justify-content: center;
    }
    
    .bgpos {
        background-position: center;
        background-size: cover;
    }


    /* SEC 6 COLORS */

    .green {
        background-color: #a2d39b;
    }

    .darkred {
        background-color: #61082b;
    }

    .azure {
        background-color: #0093ce;
    }

    .red1 {
        background-color: #ff1c1c;
    }

    .red2 {
        background-color: #d5001f;
    }

    .lightazure {
        background-color: #b4d0e7;
    }

    .darkblue {
        background-color: #0d2481;
    }

    .yello {
        background-color: #ffd830;
    }

     /* SEZIONE PROVA GRATUITA  */

    .h1red h1 {
        color: #61082b;
        font-weight: bolder;
        font-size: 2rem;


    }

    #provagratuita {
       background-color: #b4d0e7;
       padding: 6% 0;
       justify-content: space-between;
    }

     /* SEZIONE FAQ  */

    
    #faq {
       padding: 5% 0px;
    } 

    .underline {
        border-bottom: 1px solid grey;
        line-height: 50px;
        font-weight: bold;
    }

    .underline h1 {
        margin-bottom: 5%;
    }

         /* SEZIONE FOOTER MENU  */

    #footermenu {
        background-color: black;
        color: white;
    }
    
    .listamenu {
        padding: 5% 0px;
    }

    #linetta {
        border: 1px solid grey;
    }

    .flag {
        color: grey;
        padding: 2% 0px;
    }

    .flag span {
        margin-left: 5px;
    }

    #finalborder {
        border: 1px solid white;
    }