/* Reset browser impostazioni di default */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*    UTILITY   */

.flex {
    display: flex;
}

.f-space-between {
    justify-content: space-between
}

.container-80 {
    margin: 0 auto;
    width: 80%;
}

.inline {
    display: inline;
}

.align-center {
    align-items: center;
}

     /* HEADER  */

     li {
        list-style: none;
        display: inline ;
     }

     nav {
        padding: 20px 40px;
        position: fixed;
        width: 100%;
     }
